@charset "utf-8";
h1 {
	color: #00000;
	font-size: 52px;
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-weight: 700;
	text-align: center;
}

h2{
	font-size: 30px;
	font-family: Arial, Geneva, Helvetica, sans-serif;
	
}

body{
	font-family: Arial, Geneva, Helvetica, sans-serif;
	font-size: 17px;
	background-image: url("background.jpg");
	background-size: cover;
		text-align: center;
}